html, body {
    height: 100%;
}

.player {
    background-color:black;
    box-shadow: 0 0 10px rgba(0,0,0,100);
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    margin: auto;
}


.js-video-container {
    display: flex;
    flex-grow: 1;
}


.buttons {
    background-color:black;
    display: flex;
    flex-grow: 0;
}

.js-play-button {
    border-style: none;
    color: white;
    background-color: transparent;
    visibility: visible;
}

.js-play-button:hover {
    cursor: pointer;
}

.js-pause-button {
    border-style: none;
    color: white;
    background-color: transparent;
    visibility: visible;
}

.js-pause-button:hover {
    cursor: pointer;
}