.player {
    background-color:black;
    box-shadow: 0 0 10px rgba(0,0,0,100);
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 800px;
    margin: auto;
}

.js-video-container {
    display: flex;
    flex-grow: 1;
}

.control-panel {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
}

.left-buttons {
    display: flex;
    flex-grow: 0;
}

.central-space {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    margin: auto;
}

.central-space:hover .progress-background .ring {
    opacity: 1;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.right-buttons {
    display: flex;
    flex-grow: 0;
}

.time-left {
    flex-grow: 0;
    border-style: none;
    color: white;
    background-color: transparent;
    font-size: 18px;
    width: 64px;
    margin: auto;
    margin-left: 6px;
}

.progress-background {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    height: 6px;
    margin: auto;
    margin-right: 5px;
}

.progress-bar {
    background-color: #f8104d;
    height: 5px;
    visibility: visible;
    border-radius: 5px;
}

.ring {
    opacity: 0;
    background-color: #f8104d;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    margin-left: -8px;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.time-right {
    flex-grow: 0;
    border-style: none;
    color: white;
    background-color: transparent;
    font-size: 19px;
    width: 70px;
    margin: auto;
}

.player-button {
    border-style: none;
    color: white;
    background-color: transparent;
    visibility: visible;
    font-size: 19px;
    height: 39px;
    width: 30px;
    margin: 2px;
}

.player-button:hover {
    cursor: pointer;
}