.player {
    background-color:black;
    box-shadow: 0 0 10px rgba(0,0,0,100);
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 800px;
    margin: auto;
}

.js-video-container {
    display: flex;
    flex-grow: 1;
}

.player-buttons {
    display: flex;
    flex-grow: 0;
}

.player-button {
    font-size: 30px;
    border-style: none;
    color: white;
    background-color: transparent;
    visibility: visible;
    height: 40px;
    width: 60px;
    margin: 10px;
}

.player-button:hover {
    cursor: pointer;
}

.empty-space {
    display: flex;
    flex-grow: 1;
}